<div class="bg-dark collapse" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">José Carlos dos Anjos</h4>
                <p class="text-muted">- Cursando Análise e Desenvolvimento de Sistemas,
                                        buscando me aperfeiçoar a cada dia, e disposto
                                        a me tornar um ótimo desenvolvedor FullStack.
                </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Bora trocar uma idéia?</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/josecarlosdosanjosjr/" class="text-white">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://github.com/jcanjosjr" class="text-white">GitHub</a>
                    </li>
                    <li>
                        <a href="mailto:josec.dosanjos@gmail.com" class="text-white">Me mande um E-Mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fa fa-camera-retro"></i><strong class="pl-2">Galeria de Projetos</strong>
        </a>
        <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#header">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
